<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_left">
      <ul class="clear">
        <li class="active"><%= link_to "Home", root_path %></li>
		<li><a href="#oquefaz">O que faz?</a>
		<li><a href="#opinioes">Opini&otilde;es</a>
		<li><a href="#contatos">Contato</a>
        <!--li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "Sobre", sobre_path %></li>
		<li><%= link_to "Login", login_path %></li>
		<li><%= link_to "Perfil", perfil_path %></li>
		<li><%= link_to "Ajuda", ajuda_path %></li-->
	  </ul>
    </nav>
    
	<!-- ################################################################################################ -->
    <div class="fl_right">
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <!--li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li-->
      </ul>
    </div>
	<!-- ################################################################################################ -->
    <div class="fl_right">
		<ul class="nospace inline pushright samesize">
          <li><%= link_to "Cadastre-se", new_usuario_path, :class=>"btn" %></li>
          <li><%= link_to "Login", login_path, :class=>"btn" %></li>
        </ul>
	</div>
    <!-- ################################################################################################ -->
  </div>
</div>